{% extends 'base.html' %}

{% block content %}
<h2>Posts by {{ username }}</h2>

{% for post in posts %}
<div class="post-card">
    <h2>{{ post.title }}</h2>
    <p>Author: {{ post.author.username }}</p>
    <p>{{ post.content }}</p>
    <p><small>{{ post.created_at }}</small></p>
    <a href="{% url 'blogapp:post_detail' post.id %}">Read More</a>
    <hr>
</div>
{% empty %}
<p>No posts available for this author.</p>
{% endfor %}

<a href="{% url 'blogapp:home' %}">Back to Home</a>
{% endblock %}